:root {
    --mainColor: #809c13; 
}

@font-face {
    font-family: "SF Display";
    font-weight: 200;
    src: url("https://sf.abarba.me/SF-UI-Display-Light.otf");
  }

body {

    font-family: "SF Display";
    background-color: #ffffff;
    color: #000;
}

h1, h2, h3, h4, h5, p {
    font-family: "SF Display";
    color: #000;
}


/* MENU STUFF */

.menu-list {
    width: 100%;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    border-bottom: 1px solid #000;
    border-bottom-width: 100%;
}

.menu-list-item {
    float: left;
    font-size: 20px;
    border-width: 1px;

}

.menu-list-item a {
    color: #000;
    margin: 20px;

  }
  
.menu-list-item a:hover {
    color: #000;
    text-decoration: underline var(--mainColor);
}
/* mexer fim de semana */
/* .fas {
    float: right;
    font-size: 20px;
    border-width: 1px;
} */


/* CONTACT FORM STUFF  */
.label-contact-form {
    outline: none;
    font-size: 10px;
    color: #003366;
}

#modalContact .form-control:focus,
.form-control:active {
    outline: 0;
    box-shadow: 0;
    border: 1px solid var(--mainColor);
    -webkit-appearance:none;
}


.modal-open .container-fluid, .modal-open  .container {
    -webkit-filter: blur(5px) grayscale(90%);
}

.section {
    -webkit-transform: scale(1);
    -webkit-transition: all linear 0.5s 0;
  }

.modal-open .section {
    -webkit-filter: blur(3px);
    -ms-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);
    -webkit-transform: scale(0.8);
    
  }

/* END OF FORM STUFF */

/* CAROUSEL STUFF */
.carousel-item  {
    margin-top: 50px;
    height: 600px;
}

.carousel-item img {
    position: absolute;
    height: 600px;
}




/* FOOTER */
.footer {
    width: 100%;
    height: 80px;
    background-color: var(--mainColor);
    color: #000000;
    display: block;
}
 .footer p {
    font-family: "SF Display";
    text-align: center;
    font-size: 15px;
    padding-top: 50px;    
 }

 .footer a {
    color: #000000;
 }

 .footer a:hover{
     text-decoration: none;
 }

